html { 
    background: url(../images/brooke-lark-230140-unsplash.jpg) no-repeat center center fixed; 
    background-size: cover;
  }


/* font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Playfair Display SC', serif; */

body {
    font-family: 'Krona One', sans-serif;
    background-color: transparent;
  }
  
h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 4em;
}

h3 {
    font-family: 'Playfair Display SC', serif;
}

h5 {
    font-family: 'Shadows Into Light', cursive;
    margin-top: 10px;
}

div {
    text-align: center;
    width: auto;
}

p{
	display: inline;
}

.container {
    display: block;
    overflow: auto;
    background: transparent;
}

.jumbotron {
    background-color: #FEFEFE;
    margin-top: 12.5%;
    border: 5px solid #4aaaa5;
}

.col-4 {
    text-align: center;
}

#blank-spaces {
    color: darkslateblue;
}

#wrong-guesses {
    color: darkslategray;
}

/* @media screen and (max-width: 1690px) {
    .center-div {
        height: 40%; 
        width: 35%; 
    }
}
@media screen and (max-width: 1280px)  {
    .center-div {
        height: 40%; 
        width: 60%; 
    }
}
@media screen and (max-width: 980px) {
    .center-div {
        height: 40%; 
        width: 60%; 
    }
}
@media screen and (max-width: 736px) {
    .center-div {
        height: 45%; 
        width: 60%; 
    }
}
@media screen and (max-width: 480px) {
    .center-div {
        height: 550%; 
        width: 60%; 
    }
} */